[Unit]
Description=My CPU Core Temp Service
After=network.target

[Service]
ExecStart=sudo /usr/bin/python3 -u lab10_part5.py
WorkingDirectory=/home/yams/Desktop/lab10/part5
StandardOutput=inherit
StandardError=inherit
Restart=always
User=yams

[Install]
WantedBy=multi-user.target